__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.lof
*.lot

/TGRS终稿.pdf
*.bak_before_remove_infigure_caption
manuscripts/layout_contact*.png
manuscripts/layout_pages/
